@model Cs_JobPortalWebApp.Models.FullInfo
@{
    ViewData["Title"] = "ShowDetails";
}

<h1>Full Details</h1>

<td>
                <img src="item.ImagePath"   
                         class="rounded-circle"   
                         height="140" width="140"   
                         asp-append-version="true" /> 
            </td>


<table style="width:100%">
  @*<tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>*@
  <tr>
    <td>FullName</td>
    <td style="text-align:center"> @Html.DisplayFor(modelItem => Model.FullName)</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td style="text-align:center"> @Html.DisplayFor(modelItem => Model.Gender)</td>
  </tr>
   <tr>
    <td>Contact</td>
    <td style="text-align:center"> @Html.DisplayFor(modelItem => Model.Contact)</td>
  </tr>
   <tr>
    <td>Email</td>
    <td style="text-align:center"> @Html.DisplayFor(modelItem => Model.Email)</td>
  </tr>
   <tr>
    <td>AlternateContact</td>
    <td style="text-align:center"> @Html.DisplayFor(modelItem => Model.AlternateContact)</td>
  </tr>
   
   <tr>
    <td>Address</td>
    <td style="text-align:center"> @Html.DisplayFor(modelItem => Model.Adress)</td>
  </tr>
  <tr>
    <td>WorkExperience</td>
    <td style="text-align:center"> @Html.DisplayFor(modelItem => Model.WorkExperience)</td>
  </tr>
</table>

<h2>Educations</h2>
@if (Model.Educations != null)
{
    <table class="table">
    <thead>
        <tr>
            <th>
                Education Type
            </th>
            <th>
               Specifications
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Percentage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Educations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            
        </tr>
}
    </tbody>
</table>
}

<h2>Projects</h2>
@if (Model.Projects != null)
{
    <table class="table">
    <thead>
        <tr>
            <th>
               Project Name
            </th>
            <th>
               Description
            </th>
            <th>
                CompletionDate
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Projects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>           
        </tr>
}
    </tbody>
</table>
}


<h2>Experience</h2>
@if (Model.Campanys != null)
{
    <table class="table">
    <thead>
        <tr>
            <th>
               campany Name
            </th>
            <th>
               Description
            </th>
            <th>
                JoinDate
            </th>
             <th>
                ResignDate
            </th>
             <th>
                Location
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Campanys) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResignDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
        </tr>
}
    </tbody>
</table>
}

<h2>View Resume</h2>









